In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../data/process_v1/process_data_7_hcm.csv')

In [3]:
selected_cols = [c for c in df.columns.tolist() if c not in ['target', 'time']]

In [4]:
timestamps = df['time'].tolist()
timestamps = pd.Series([pd.Timestamp(item) for item in timestamps])
timestamps = timestamps.to_frame(name="event_timestamp")

In [5]:
df = pd.concat(objs=[df, timestamps], axis=1)

In [6]:
df = df.sort_values(by = ['event_timestamp'])
df

,nearest_2_district,nearest_3_street,nearest_6_street,nearest_1_district,nearest_8_district,accessibility,nearest_7_district,typeOfRealEstate,nearest_1_street,nearest_6_ward,...,distance_hn_Aeon Mall Shopping Center Tân Phú,num_of_parking_entrance_in_2000m_radius,nearest_2_lat,distance_hn_Công viên Lê Văn Tám,num_of_restaurant_in_500m_radius,"distance_hn_Đường Lê Lợi, quận 1, TPHCM",num_of_place_of_worship_in_1000m_radius,time,target,event_timestamp
24794,11,1087,991,11,11,0,11,3,3153,13,...,8.844290,2,10.792875,5.956025,20,7.771465,29,2023-04-01T00:00:00,450.000000,2023-04-01
37176,10,2428,3100,10,10,0,10,3,3190,547,...,8.994285,0,10.787188,8.306629,1,8.572820,30,2023-04-03T00:00:00,176.000000,2023-04-03
6905,11,2850,454,11,100,0,100,3,1627,279,...,8.316257,0,10.765089,7.880644,106,6.899570,45,2023-05-18T00:00:00,406.250000,2023-05-18
6412,14,848,1990,14,10,0,10,0,2640,559,...,9.131750,5,10.808713,7.945040,3,8.488024,10,2023-07-13T00:00:00,69.863014,2023-07-13
24436,18,1300,3156,18,18,1,0,1,860,172,...,9.234733,0,10.806146,8.831937,2,8.799135,4,2023-07-14T00:00:00,185.000000,2023-07-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2697,1,777,3419,1,1,3,1,1,1449,116,...,8.142022,0,10.727410,8.979089,1,8.680754,0,2024-02-16T00:00:00,96.250000,2024-02-16
22001,20,2793,2141,20,14,0,20,3,1187,30,...,9.080495,1,10.805448,7.627422,3,8.298848,18,2024-02-16T00:00:00,123.595506,2024-02-16
21481,13,715,3910,13,13,4,13,1,3094,303,...,9.796663,0,10.882365,9.339221,0,9.503459,0,2024-02-16T00:00:00,51.875000,2024-02-16
10914,30,3396,676,10,10,0,30,3,234,140,...,9.311393,0,10.804743,8.760873,2,8.989615,2,2024-02-16T00:00:00,257.352941,2024-02-16
7477,30,100,100,30,100,4,100,1,3784,100,...,9.386921,0,10.811002,8.912796,0,9.110137,1,2024-02-16T00:00:00,100.000000,2024-02-16

In [7]:
full_feat_set = selected_cols

data_df = df[full_feat_set + ['event_timestamp']]
target_df = df[['target'] + ['event_timestamp']]

In [8]:
realestate_ids = pd.DataFrame(data=list(range(len(data_df))), columns=["realestate_id"])

data_df = pd.concat(objs=[data_df, realestate_ids], axis=1)
target_df = pd.concat(objs=[target_df, realestate_ids], axis=1)

In [9]:
data_df.to_parquet(path='../../data/data_df_hcm.parquet')
target_df.to_parquet(path='../../data/target_df_hcm.parquet')