In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../data/process_v1/process_data_9_hcm.csv')

In [3]:
selected_cols = [c for c in df.columns.tolist() if c not in ['target', 'time']]

In [4]:
timestamps = df['time'].tolist()
timestamps = pd.Series([pd.Timestamp(item) for item in timestamps])
timestamps = timestamps.to_frame(name="event_timestamp")

In [5]:
df = pd.concat(objs=[df, timestamps], axis=1)

In [6]:
df = df.sort_values(by = ['event_timestamp'])
df

,nearest_4_district,nearest_8_street,nearest_8_district,nearest_2_ward,nearest_4_ward,nearest_8_ward,is_street_house,typeOfRealEstate,accessibility,nearest_6_street,...,time,target,gmm_2_component_num_of_restaurant_in_2000m_radius,gmm_2_component_num_of_restaurant_in_1000m_radius,gmm_3_component_num_of_bank_in_2000m_radius,gmm_2_component_num_of_marketplace_in_2000m_radius,gmm_2_component_num_of_cafe_in_1000m_radius,PC1,PC2,event_timestamp
24760,11,1730,11,13,13,13,0,3,0,991,...,2023-04-01T00:00:00,450.000000,1,1,0,1,1,-41.045131,140.293035,2023-04-01
37121,10,2986,10,547,547,137,0,3,0,3100,...,2023-04-03T00:00:00,176.000000,0,0,0,1,0,-62.133796,-121.217705,2023-04-03
6893,11,100,100,518,518,100,0,3,0,454,...,2023-05-18T00:00:00,406.250000,1,1,2,0,1,-67.873497,548.747160,2023-05-18
6401,14,3640,10,438,438,38,0,0,0,1990,...,2023-07-13T00:00:00,69.863014,0,0,0,1,0,-68.427971,212.113724,2023-07-13
24402,18,1998,18,28,172,172,0,1,1,3156,...,2023-07-14T00:00:00,185.000000,0,0,1,1,0,-95.738805,25.442331,2023-07-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30850,30,3328,30,140,140,140,0,3,1,1534,...,2024-02-16T00:00:00,142.000000,0,0,1,1,0,-123.334233,-173.380030,2024-02-16
5150,30,2743,30,364,364,364,0,1,0,1095,...,2024-02-16T00:00:00,89.421158,0,0,0,1,0,-143.320239,-134.738182,2024-02-16
41330,11,100,100,488,278,100,0,1,0,100,...,2024-02-16T00:00:00,93.750000,1,1,0,0,1,NaN,NaN,2024-02-16
11161,42,1977,42,391,268,391,0,3,0,3350,...,2024-02-16T00:00:00,83.333333,0,0,1,1,0,-74.654943,-46.550185,2024-02-16
20237,10,2161,10,215,215,215,0,3,0,3805,...,2024-02-16T00:00:00,291.044776,0,0,1,1,0,-78.293652,128.108884,2024-02-16

In [7]:
full_feat_set = selected_cols

data_df = df[full_feat_set + ['event_timestamp']]
target_df = df[['target'] + ['event_timestamp']]

In [8]:
realestate_ids = pd.DataFrame(data=list(range(len(data_df))), columns=["realestate_id"])

data_df = pd.concat(objs=[data_df, realestate_ids], axis=1)
target_df = pd.concat(objs=[target_df, realestate_ids], axis=1)

In [9]:
data_df.to_parquet(path='../../data/data_df_hcm_v3.parquet')
target_df.to_parquet(path='../../data/target_df_hcm_v3.parquet')